body {
    color: rgb(26, 36, 26);
    background-color: rgb(67, 139, 18);
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 30px;
}

h2 {
    text-align: center;
    padding: 30px;
}